Source: wakaama-client
Section: libs
Priority: optional
Maintainer: Gregory Lemercier <g.lemercier@samsung.com>
Uploaders: Chanho Park <chanho61.park@samsung.com>
Build-Depends: debhelper (>=9),
	cmake,
	libarchive-dev,
	libcurl-dev,
Standards-Version: 3.9.6
Homepage: https://github.com/obgm/wakaama

Package: wakaama-client
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Implementation of the Open Mobile Alliance's LightWeight M2M protocol

Package: wakaama-client-dev
Architecture: any
Depends: wakaama-client
Description: Development files for implementation of the Open Mobile Alliance's LightWeight M2M protocol (LWM2M)
